.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  /* left: 0; */
  background-color: rgb(41, 43, 44);
  width: 321.5px;
  /* background-image: linear-gradient(to right, rgb(49,49,50), rgb(23,23,25)); */
  padding-top: 51px;

  /* box-shadow: inset 0 0 5px gray; */
}
.sidebar a {
  display: flex;
  color: #e1e9fc;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  list-style: none;
  height: 60px;
  text-decoration: none;
  font-size: 18px;
}

.line {
  align-items: center;
}

.sidebar a:hover {
  background: #252831;
  border-left: 4px solid #632ce4;
  cursor: pointer;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  /* padding-right: 30px; */
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  color: #fff;
  /* padding: 5px 10px; */
  box-sizing: border-box;
  align-items: center;
  margin: 5px 0 5px 0px;
  /* border-radius: 5px 5px 5px 5px; */
  text-decoration: none;
  width: 301.5px;
}

.sidebar ul li a.active {
  background-color: #414757;
  color: rgb(255, 255, 255);
}
