.sidebar{
  position: fixed;
  top:0;
  bottom: 0;
  left: 0;
  background-color: rgb(41, 43, 44);
  /* background-image: linear-gradient(to right, rgb(49,49,50), rgb(23,23,25)); */
  padding-top: 60px;
  /* box-shadow: inset 0 0 5px gray; */
}
.sidebar a{
  display: block;
}

.sidebar ul {
  margin: 0;
  padding: 0;
  padding-right: 30px;
 
}

.sidebar ul li {
  list-style: none;
}

.sidebar ul li a {
  display: block;
  color: #fff;
  padding: 5px 10px;
  box-sizing: border-box;
  margin: 5px 0 5px 10px;
  border-radius: 5px 5px 5px 5px;
  text-decoration: none;
}

.sidebar ul li a.active {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}
