.card {
  width: 100%;
  background: rgb(49, 49, 50);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 1px 0px !important;
  border-radius: 10px;
}
.cardHeader {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  border-bottom: 1px solid #cecece;
}
