.key {
  font-size: 12px;
  font-weight: bold;
  font-family: sans-serif;
}

.value {
  font-size: 14px;
  font-family: sans-serif;
}

.productImgContainer {
  width: 100px;
  height: 100px;
  overflow: hidden;
  text-align: center;
}

.productImgContainer img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.act-btn {
  border: 0;
  margin: 0 5px;
  font-size: 14px;
}

.prodtable {
  box-shadow: rgba(0, 0, 0, 0.2) 3px 3px 10px 3px !important;
  border-radius: 10px 10px 10px 10px;
}
